.App {
    text-align: center;
  margin-left: auto;
  margin-right: auto;
    height: 200px;
    width: 200px;
    border: black solid thin;
}

.norm{
  color: black;
}

.red {
  color: red;
}

 .off {
   opacity: 0.5;
     border-color: red;
 }
